body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 20px;
}

body,
button,
input,
select,
textarea {
    font-family: Calibre, Helvetica, sans-serif;
}

button,
input[type="button"],
input[type="checkbox"],
input[type="radio"],
input[type="reset"],
input[type="submit"],
label,
select {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0;
    font-family: inherit;
    font-weight: 700;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
}

h1,
h2,
h3 {
    line-height: 40px;
}

form {
    margin: 0 0 96px;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

a {
    text-decoration: none;
}

input:focus {
    outline: 0;
}

a:hover {
    text-decoration: none;
}

label {
    display: block;
    margin-bottom: 5px;
}

button,
input,
label,
select,
textarea {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.hidden,
.hidden-label {
    display: none;
}

.input-flexible {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
    clear: both;
}

.clearfix:after,
.clearfix:before {
    display: table;
    line-height: 0;
    content: "";
}

body,
html {
    height: 100%;
}

.login-container {
    height: 100%;
}

.login-container .login-column {
    height: 100%;
    width: 39%;
    padding-right: 1%;
    margin-left: 1%;
    float: right;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.login-container .content-column {
    width: 59%;
    background: #eaecf1;
    height: 100%;
    margin-left: 0;
    float: left;
}

.login-container .login-column>div {
    width: 100%;
    height: 100%;
    position: relative;
}

.login-container .login-column>div>div {
    max-width: 320px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login-logo {
    width: 120px;
}

.login-title {
    font-size: 28px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 16px;
    margin-bottom: 16px;
}

.login-title.large-title {
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 32px;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.68);
}

.login-subtitle {
    font-size: 18px;
    line-height: 1.22;
    margin-bottom: 8px;
}

.blue-link {
    color: #2583e3;
    font-size: 18px;
    font-weight: 600;
}

.blue-link:hover {
    text-decoration: none;
    color: #164e88;
}

.blue-link.centered {
    text-align: center;
}

.blue-link.block {
    display: block;
}

.gray-link {
    color: rgba(0, 0, 0, 0.87);
}

.gray-link:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.68);
}

.remember-me {
    float: left;
    font-size: 14px;
}

.remember-me input {
    margin: 0;
}

.forgot-password-link {
    float: right;
    font-size: 14px;
}

.login-button,
input.login-button {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 36px;
    display: block;
}

.blue-button {
    color: #fff;
    height: 56px;
    border-radius: 3px;
    background-color: #2583e3;
    border: none;
    box-shadow: none;
    padding: 12px;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.6px;
}

.blue-button:hover {
    background-color: #164e88;
}

.blue-outline-button {
    background-color: #fff;
    color: #2583e3;
    border-radius: 4px;
    padding: 12px;
    border: 2px solid #2583e3;
    font-weight: 600;
}

.blue-outline-button:hover {
    border: 2px solid #164e88;
    color: #164e88;
}

.login-input-field {
    position: relative;
    margin-bottom: 24px;
}

.login-input-field i {
    position: absolute;
    top: 20px;
    left: 8px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    -moz-background-size: 20px;
    -webkit-background-size: 20px;
    background-size: 20px;
}

.login-input-field input {
    border: none;
    background-color: #fff;
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0;
    color: rgba(0, 0, 0, 0.87);
    padding-bottom: 12px;
    padding-top: 18px;
    padding-left: 44px;
    height: auto;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
    -moz-appearance: textfield;
}

.login-input-field input::-webkit-inner-spin-button,
.login-input-field input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.login-input-field.no-icon input {
    padding-left: 0;
}

.control-group.error i {
    color: #f53655;
}

.control-group.error input,
.control-group.error input:active,
.control-group.error input:focus {
    color: rgba(0, 0, 0, 0.87);
    border-bottom: 2px solid #f53655;
    padding-bottom: 11px;
    box-shadow: none;
}

.control-group.error input:hover {
    box-shadow: none;
}

.control-group.error .help-inline {
    margin-top: 8px;
    color: #f53655;
}

.login-input-field input:active,
.login-input-field input:focus {
    border-color: #2583e3;
    border-bottom: 2px solid #2583e3;
    padding-bottom: 11px;
    box-shadow: none;
    transition: all 0.25s;
}

input:focus:invalid:focus {
    box-shadow: none;
}

.login-input-field input::placeholder {
    color: rgba(0, 0, 0, 0.4);
    font-size: 20px;
}

.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: none;
    text-shadow: none;
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
}

.alert-success {
    background-color: #cdf9dc;
    color: #00872e;
}

.alert-error {
    background-color: rgba(253, 214, 221, 0.87);
    color: #932033;
}

.alert .close {
    display: none;
}

@media (max-width: 979px) and (min-width: 768px) {
    .login-container .login-column {
        padding-right: 3%;
        margin-left: 3%;
        width: 38%;
        float: right;
    }

    .login-container .content-column {
        width: 56%;
    }
}

@media (max-width: 767px) {
    .login-container .login-column {
        padding-right: 0;
        padding-top: 8px;
        height: auto;
        width: 100%;
        margin-bottom: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .login-container .content-column {
        width: 100%;
    }

    .login-logo {
        display: block;
        margin: 0 auto;
    }

    .login-title {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .login-container .login-column {
        padding: 0 8px;
        margin-left: 0;
        float: none;
    }

    .login-container .content-column {
        float: none;
    }

    form {
        margin: 0 0 36px;
    }

    .login-container .login-column>div>div {
        position: relative;
        -webkit-transform: none;
        -moz-transform: none;
        transform: none;
        top: 0;
        left: 0;
    }
}

@media (min-width: 768px) and (max-height: 500px) {
    .login-container .login-column {
        overflow-y: auto;
    }

    .login-container .login-column>div>div {
        position: relative;
        -webkit-transform: none;
        -moz-transform: none;
        transform: none;
        top: 0;
        left: 0;
    }
}

@media (max-height: 640px) {
    .login-title.large-title {
        font-size: 56px;
        margin-bottom: 16px;
    }

    .login-title {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .login-input-field {
        margin-bottom: 20px;
    }

    .login-button {
        margin-top: 24px;
        margin-bottom: 32px;
    }

    form {
        margin: 0 0 32px;
    }
}

.center-cropped {
    height: 100%;
    width: 100%;
    position: relative;
}

.slider .rectangle-top {
    width: 37px;
    height: 4px;
    background-color: #fff;
    margin-bottom: 32px;
}

.slider .article-date {
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
}

.slider .article-title {
    margin-top: 12px;
    line-height: 1.1;
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    max-width: 680px;
}

.slider .article-subtitle {
    margin-top: 16px;
    line-height: 1.1;
    font-size: 20px;
    color: #fff;
    max-width: 680px;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.slider .view-post {
    margin-top: 36px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    color: #fff;
    padding-bottom: 8px;
    display: block;
    letter-spacing: 2px;
}

.slider .view-post:hover {
    text-decoration: none;
}

.slider .rectangle-bottom {
    margin-top: 72px;
    width: 100%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.2);
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.3s;
    perspective: 900px;
    transform-style: preserve-3d;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

.slider .slides {
    height: 100%;
}

.slide {
    width: 100vw;
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
    height: 100%;
    width: 100%;
    -webkit-background-position: center;
    -moz-background-position: center;
    background-position: center;
    -webkitbackground-repeat: no-repeat;
    -moz-background-repeat: no-repeat;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slide>div {
    position: absolute;
    bottom: 72px;
    padding-left: 76px;
    padding-right: 32px;
}

.slide.active {
    z-index: 10;
    left: 0;
    opacity: 1;
    transform: scale(1, 1);
}

.slide.inactiveLeft {
    left: -100vw;
    z-index: 11;
}

.slide.inactiveRight {
    left: 100vw;
    z-index: 11;
}

.slider .bullets {
    position: absolute;
    bottom: 100px;
    left: 70px;
    width: 100%;
}

.slider .bullets .bullet {
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    width: 8px;
    height: 8px;
    z-index: 14;
    margin: 0 5px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.3s;
}

.slider .bullets .bullet.active {
    background: #fff;
}

.slider .bullets .bullet:hover {
    border: 2px solid rgba(255, 255, 255, 0.3);
    background: 0 0;
}

.login-footer {
    color: #fff;
    display: block;
    position: absolute;
    bottom: 0;
    height: 72px;
    padding-top: 16px;
    margin: 0;
    top: unset;
    left: 76px;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 680px;
    margin-right: 32px;
    z-index: 30;
}

.login-footer a {
    color: #fff;
}

.login-footer a:hover {
    text-decoration: none;
}

.login-footer a.toast-footer-link {
    color: #f46233;
    font-weight: 600;
}

.login-footer span {
    padding: 0 8px;
}

@media (max-width: 979px) {
    .login-footer {
        left: 32px;
    }

    .slide>div {
        padding-left: 32px;
    }

    .slider .bullets {
        left: 26px;
    }
}

@media (max-width: 767px) {
    .login-container .content-column {
        height: 600px;
    }

    .slider .bullets {
        left: 2px;
    }

    .slide>div {
        padding-left: 8px;
        padding-right: 8px;
        bottom: 88px;
    }

    .slide .article-title {
        font-size: 32px;
    }

    .slide .article-subtitle {
        font-size: 18px;
        margin-bottom: 24px;
    }

    .slider .view-post {
        margin-bottom: 48px;
    }

    .login-footer {
        height: 88px;
        left: 8px;
    }
}

.login-container .password-strength>.progress {
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #eaecf1;
    height: 4px;
}

.login-container .password-strength>p {
    font-size: 14px;
}

.login-container .password-strength>p>strong {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.68);
}

.login-container .password-strength .progress .bar {
    float: left;
    width: 0;
    height: 100%;
    background-color: #2583e3;
    box-sizing: -webkit-border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: width 0.6s ease;
}

.login-container .password-strength .progress-danger .bar {
    background-color: #f53655;
}

.login-container .password-strength .progress-warning .bar {
    background-color: #e9ce01;
}

.login-container .password-strength .progress-success .bar {
    background-color: #00b53d;
}

.send-code-button {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 0;
    padding-bottom: 0;
    height: 40px;
    vertical-align: middle;
    position: relative;
    padding-left: 36px;
}

.send-code-button i {
    font-size: 20px;
    position: absolute;
    left: 12px;
    top: 8px;
}

.send-code-button span {
    padding-left: 8px;
    display: inline-block;
    line-height: 36px;
}

.two-factor-login-button {
    margin-top: 0;
}

.reauthenticate-user-name {
    background-color: #eaecf1;
    border-radius: 3px;
    height: 48px;
    line-height: 48px;
    padding: 0 8px 0 48px;
    color: rgba(0, 0, 0, 0.68);
    font-size: 18px;
    margin-top: 32px;
    margin-bottom: 16px;
    font-weight: 600;
    position: relative;
}

.reauthenticate-user-name i {
    font-weight: 400;
    opacity: 0.4;
    position: absolute;
    left: 16px;
    top: 12px;
}

.blue-link-container {
    text-align: center;
}

.blue-link-container span {
    padding: 0 16px;
    font-size: 18px;
    font-weight: 300;
    color: #c9cad3;
}